<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="simpleSection"
		         type="FileSystemControl.SimpleConfigurationSection, FileSystemControl"/>
	</configSections>
	<simpleSection appName="My App">
		<foldersListenTo>
			<add name="FolderForTrackingFiles" />
		</foldersListenTo>
		<fileProcessingTemplates>
			<add templateFile="[^ ]+\.txt" directory="FolderTxtFiles" addingDateOrNumberTheOutputFile="false"  />
			<add templateFile="[^ ]+\.docx" directory="FolderDocxFiles" addingDateOrNumberTheOutputFile="true" size="2"/>
			<add templateFile="" directory="FolderDefaultFiles" addingDateOrNumberTheOutputFile="true" size="1"/> 
		</fileProcessingTemplates>
	</simpleSection>
</configuration>