<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="simpleSection"
		         type="FileSystemControl.SimpleConfigurationSection, FileSystemControl"/>
	</configSections>
	<simpleSection appName="My App">
		<foldersListenTo>
			<add name="FolderForTrackingFiles" />
		</foldersListenTo>
		<fileProcessingTemplates>
      <!-- TODO: addingDateOrNumberTheOutputFile нужно разделить на 2 значения с добавлением номера и файла даты.
      Чаще булевые значения именуют isAddDate, isAddId для примера.
      Аттрибут size нигде не используется. -->
      <add templateFile="[^ ]+\.txt" directory="FolderTxtFiles" addingDateOrNumberTheOutputFile="false" />
			<add templateFile="[^ ]+\.docx" directory="FolderDocxFiles" addingDateOrNumberTheOutputFile="true" size="2"/>
			<add templateFile="" directory="FolderDefaultFiles" addingDateOrNumberTheOutputFile="true" size="1"/> 
		</fileProcessingTemplates>
	</simpleSection>
</configuration>