<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="projectDataSection"
		         type="FileSystemControl.ConfigurationProjectDataSection, FileSystemControl"/>
	</configSections>
	<projectDataSection appName="My App">
		<folderListenTo name="FolderForTrackingFiles"/>
		<localization isAddRu="true"/>
		<fileProcessingTemplates>
			<add templateFile="[^ ]+\.txt" directory="FolderTxtFiles" isAddDate="true" isAddId="true" />
			<add templateFile="[^ ]+\.docx" directory="FolderDocxFiles" isAddDate="true" isAddId="false" />
			<add templateFile="" directory="FolderDefaultFiles" isAddDate="true" isAddId="true"/> 
		</fileProcessingTemplates>
	</projectDataSection>

</configuration>